<div class="my-5 row">
  <form>
    <div class="container">
      <div class="row mb-3 p-2">
        <label for="nombre" class="col-sm-2 col-form-label"><strong>Nombre</strong></label>
        <div class="col-sm-10">
        <input type="text" class="shadow-sm bg-body rounded" id="nombre" [(ngModel)]="player.name" name="nonmbre" required>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <label for="edad" class="col-sm-2 col-form-label"><strong>Edad</strong></label>
        <div class="col-sm-10">
        <input type="number" class="shadow-sm bg-body rounded" id="edad" [(ngModel)]="player.age" name="edad" onkeypress="return event.charCode >= 48" min="16"required>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <label for="nacionalidad" class="col-sm-2 col-form-label"><strong>Nacionalidad</strong></label>
        <div class="col-sm-10">
        <input type="text" class="shadow-sm bg-body rounded" id="nacionalidad" [(ngModel)]="player.nationality" name="nacionalidad" required>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <label for="goles" class="col-sm-2 col-form-label"><strong>Goles</strong></label>
        <div class="col-sm-10">
        <input type="number" class="shadow-sm bg-body rounded" id="goles" [(ngModel)]="player.goals" name="goles" onkeypress="return event.charCode >= 48" min="0" required>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <label for="posicion" class="col-sm-2 col-form-label"><strong>Posicion</strong></label>
        <div class="col-sm-10">
        <input type="text" class="shadow-sm bg-body rounded" id="posicion" [(ngModel)]="player.position" name="posicion" required>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <label for="equipo" class="col-sm-2 col-form-label"><strong>Equipo</strong></label>
        <div class="col-sm-10">
        <select class="shadow p-2 bg-body rounded" [(ngModel)]="player.team.id" name="equipo" required>
          <option *ngFor="let team of teams" value="{{ team.id }}">
            {{ team.name }}
          </option>
        </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" (click)="createPlayer()">
        Agregar
      </button>
    </div>
  </form>
</div>
